<header >
    <nav class="navbar navbar-light bg-white border-bottom mb-3">
        <div class="container" style="height: 7vh">
            <a class="navbar-brand">
                <button class="btn" type="button" (click)="ngOnInit()">E-Shop</button>
                <span *ngIf="currentCategory">{{currentCategory.name}}</span>
            </a>
            <div>
                <button class="btn flex-column-reverse" style="width: 200px" type="button" (click)="change()">
                    Shopping Bag <span *ngIf="orderCount">{{orderCount}}</span>
                </button>
                <div *ngIf="dropDown" style="position: absolute; z-index: 1; padding: 10px 10px; background-color: aliceblue">
                    <order *ngFor="let order of orderItems" [order]="order"></order>
                    <button class="btn btn-primary" type="button" (click)="apply()">{{fullPrice}} Confirm and pay</button>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-4 col-md-3">
            <div class="row">
                <div class="btn-group-vertical col">
                    <button class="list-group-item list-group-item-action" *ngFor="let item of categories" (click)="setCategory(item)">{{item.name}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="!currentProduct" data-spy="scroll" data-target="#list-example" data-offset="0" class="col-8 col-md-9" style="height: 85vh; overflow-y: scroll">
            <div class="row">
                <prod class="col-12 col-md-6 col-lg-4" *ngFor="let product of currentProducts" [product]="product" (onBuy)="onBuy($event)" [withAmount]="false"></prod>
            </div>
        </div>
        <div *ngIf="currentProduct" class="col-8 col-md-9">
            <prod [product]="currentProduct" [withAmount]="true" (onOrder)="addToOrder($event)"></prod>
            <p *ngIf="error" style="color: red">{{error}}</p>
        </div>
    </div>
</div>