<header>
    <nav class="navbar navbar-light bg-white border-bottom mb-3">
        <div class="container-fluid">
            <a class="navbar-brand">
                <b>E-Shop</b>
            </a>
            <button type="button" class="btn flex-column-reverse">
                Shopping Bag <!--{{orderItems.length }}-->
            </button>
        </div>
    </nav>
</header>
<div class=".container-fluid">
    <div class="row">
        <div id="list-example" class="btn-group-vertical col-4 position-relative" *ngFor ="let category in categories">
            <button class="list-group-item list-group-item-action" >{{category.name}}</button>
        </div>
        <div data-spy="scroll" data-target="#list-example" data-offset="0" class="col-8" style="height: 700px; overflow-y: scroll">
            <br />
            <h4 id="list-item-1">Item 1</h4>
            <p>
                An stairs as be lovers uneasy. Able rent long in do we. Their saved linen downs tears son add music. Their saved linen downs tears son add music. Course sir people worthy horses add entire suffer. You high bed wish help call draw side. He felicity no an at packages answered opinions juvenile. Words to up style of since world

                Dissimilar admiration so terminated no in contrasted it. Sentiments two occasional affronting solicitude travelling and one contrasted. Latter remark hunted enough vulgar say man. To sure calm much most long me mean. Bed uncommonly his discovered for estimating far. How one dull get busy dare far. Painful so he an comfort is manners. Ex

                To things so denied admire. Agreeable promotion eagerness as we resources household to distrusts. Course sir people worthy horses add entire suffer. Uncommonly no it announcing melancholy an in. Advantages entreaties mr he apartments do. To things so denied admire. Small for ask shade water manor think men begin. Co
            </p>
            <h4 id="list-item-2">Item 2</h4>
            <p>
                An stairs as be lovers uneasy. Able rent long in do we. Their saved linen downs tears son add music. Their saved linen downs tears son add music. Course sir people worthy horses add entire suffer. You high bed wish help call draw side. He felicity no an at packages answered opinions juvenile. Words to up style of since world

                Dissimilar admiration so terminated no in contrasted it. Sentiments two occasional affronting solicitude travelling and one contrasted. Latter remark hunted enough vulgar say man. To sure calm much most long me mean. Bed uncommonly his discovered for estimating far. How one dull get busy dare far. Painful so he an comfort is manners. Ex

                To things so denied admire. Agreeable promotion eagerness as we resources household to distrusts. Course sir people worthy horses add entire suffer. Uncommonly no it announcing melancholy an in. Advantages entreaties mr he apartments do. To things so denied admire. Small for ask shade water manor think men begin. Co
            </p>
            <h4 id="list-item-3">Item 3</h4>
            <p>
                An stairs as be lovers uneasy. Able rent long in do we. Their saved linen downs tears son add music. Their saved linen downs tears son add music. Course sir people worthy horses add entire suffer. You high bed wish help call draw side. He felicity no an at packages answered opinions juvenile. Words to up style of since world

                Dissimilar admiration so terminated no in contrasted it. Sentiments two occasional affronting solicitude travelling and one contrasted. Latter remark hunted enough vulgar say man. To sure calm much most long me mean. Bed uncommonly his discovered for estimating far. How one dull get busy dare far. Painful so he an comfort is manners. Ex

                To things so denied admire. Agreeable promotion eagerness as we resources household to distrusts. Course sir people worthy horses add entire suffer. Uncommonly no it announcing melancholy an in. Advantages entreaties mr he apartments do. To things so denied admire. Small for ask shade water manor think men begin. Co
            </p>
            An stairs as be lovers uneasy. Able rent long in do we. Their saved linen downs tears son add music. Their saved linen downs tears son add music. Course sir people worthy horses add entire suffer. You high bed wish help call draw side. He felicity no an at packages answered opinions juvenile. Words to up style of since world

            Dissimilar admiration so terminated no in contrasted it. Sentiments two occasional affronting solicitude travelling and one contrasted. Latter remark hunted enough vulgar say man. To sure calm much most long me mean. Bed uncommonly his discovered for estimating far. How one dull get busy dare far. Painful so he an comfort is manners. Ex

            To things so denied admire. Agreeable promotion eagerness as we resources household to distrusts. Course sir people worthy horses add entire suffer. Uncommonly no it announcing melancholy an in. Advantages entreaties mr he apartments do. To things so denied admire. Small for ask shade water manor think men begin. Co
            An stairs as be lovers uneasy. Able rent long in do we. Their saved linen downs tears son add music. Their saved linen downs tears son add music. Course sir people worthy horses add entire suffer. You high bed wish help call draw side. He felicity no an at packages answered opinions juvenile. Words to up style of since world

            Dissimilar admiration so terminated no in contrasted it. Sentiments two occasional affronting solicitude travelling and one contrasted. Latter remark hunted enough vulgar say man. To sure calm much most long me mean. Bed uncommonly his discovered for estimating far. How one dull get busy dare far. Painful so he an comfort is manners. Ex

            To things so denied admire. Agreeable promotion eagerness as we resources household to distrusts. Course sir people worthy horses add entire suffer. Uncommonly no it announcing melancholy an in. Advantages entreaties mr he apartments do. To things so denied admire. Small for ask shade water manor think men begin. CoAn stairs as be lovers uneasy. Able rent long in do we. Their saved linen downs tears son add music. Their saved linen downs tears son add music. Course sir people worthy horses add entire suffer. You high bed wish help call draw side. He felicity no an at packages answered opinions juvenile. Words to up style of since world

            Dissimilar admiration so terminated no in contrasted it. Sentiments two occasional affronting solicitude travelling and one contrasted. Latter remark hunted enough vulgar say man. To sure calm much most long me mean. Bed uncommonly his discovered for estimating far. How one dull get busy dare far. Painful so he an comfort is manners. Ex

            To things so denied admire. Agreeable promotion eagerness as we resources household to distrusts. Course sir people worthy horses add entire suffer. Uncommonly no it announcing melancholy an in. Advantages entreaties mr he apartments do. To things so denied admire. Small for ask shade water manor think men begin. Co
            <h4 id="list-item-4">Item 4</h4>
            <p>
                An stairs as be lovers uneasy. Able rent long in do we. Their saved linen downs tears son add music. Their saved linen downs tears son add music. Course sir people worthy horses add entire suffer. You high bed wish help call draw side. He felicity no an at packages answered opinions juvenile. Words to up style of since world

                Dissimilar admiration so terminated no in contrasted it. Sentiments two occasional affronting solicitude travelling and one contrasted. Latter remark hunted enough vulgar say man. To sure calm much most long me mean. Bed uncommonly his discovered for estimating far. How one dull get busy dare far. Painful so he an comfort is manners. Ex

                To things so denied admire. Agreeable promotion eagerness as we resources household to distrusts. Course sir people worthy horses add entire suffer. Uncommonly no it announcing melancholy an in. Advantages entreaties mr he apartments do. To things so denied admire. Small for ask shade water manor think men begin. Co
            </p>
        </div>
    </div>
</div>